In [ ]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np

In [ ]:
#Creating engine for later export to Postgres
engine = create_engine('postgresql://postgres:postgres@localhost:5432/Census_db')

In [ ]:
#reading in raw excel data from US census website
raw_df = pd.read_excel ('../Resources/raw_census2010-2020.xlsx')
raw_df.head()

In [ ]:
#Dropped all NaN rows
no_na = raw_df.dropna()
no_na.head()

In [ ]:
#Renamed columns to show state,census, base estimates, and each year
renamed_df = no_na.rename(columns={'table with row headers in column A and column headers in rows 3 through 4. (leading dots indicate sub-parts)':'State','Unnamed: 1':'Census', 'Unnamed: 2':'Estimates Base', 'Unnamed: 3':'2010', 'Unnamed: 4':'2011','Unnamed: 5':'2012', 'Unnamed: 6':'2013', 'Unnamed: 7':'2014', 'Unnamed: 8':'2015','Unnamed: 9':'2016', 'Unnamed: 10':'2017', 'Unnamed: 11':'2018', 'Unnamed: 12':'2019', 'Unnamed: 13':'2020'})
renamed_df.head()

In [ ]:
#Seperated offical Census regions into seperate dataframe
census2010_df = renamed_df[['State', 'Census', 'Estimates Base']].copy()
census2010_df.head()

In [ ]:
#seperated regions and base population estimates for each year 
July_estimate_df = renamed_df.drop(['Census', 'Estimates Base'], axis =1)
July_estimate_df.head()

In [167]:
#dropped region rows
#renamed state column,
#reset index to account for dropped rows
#final dataframe contains yearly estimated populations from each state 
state_only_estimate = July_estimate_df.drop([3,4,5,6,7])
renamed_regions = state_only_estimate.rename(columns={'State':'state'})
final_state_only_estimate = renamed_regions.reset_index(drop=True)
final_state_only_estimate.head()

,state,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,.Alabama,4785514,4799642.0,4816632.0,4831586.0,4843737.0,4854803.0,4866824.0,4877989.0,4891628.0,4907965.0,4921532.0
1,.Alaska,713982,722349.0,730810.0,737626.0,737075.0,738430.0,742575.0,740983.0,736624.0,733603.0,731158.0
2,.Arizona,6407342,6473416.0,6556344.0,6634690.0,6732873.0,6832810.0,6944767.0,7048088.0,7164228.0,7291843.0,7421401.0
3,.Arkansas,2921998,2941038.0,2952876.0,2960459.0,2968759.0,2979732.0,2991815.0,3003855.0,3012161.0,3020985.0,3030522.0
4,.California,37319550,37636311.0,37944551.0,38253768.0,38586706.0,38904296.0,39149186.0,39337785.0,39437463.0,39437610.0,39368078.0

In [ ]:
#dropped region rows
#renamed state, census, and estimates columns
#reset index to account for dropped rows
#final dataframe contains offical census tally, and compares it to estimate for each states
state_only_census2010 = census2010_df.drop([3,4,5,6,7])
renamed_states = state_only_census2010.rename(columns={'State':'state', 'Census':'census', 'Estimates Base':'estimates_base'})
final_state_only_census2010 = renamed_states.reset_index(drop=True)
final_state_only_census2010.head()

In [ ]:
#selected region rows
#dropped offical census, and estimates bases colums
#renamed state to region
#reset index
#final dataframe contains yearly estimates for each region
region_only_estimate = renamed_df.iloc[0:5]
region_only_estimates = region_only_estimate.drop(['Census', 'Estimates Base'], axis =1)
renamed_regions = region_only_estimates.rename(columns={'State':'region'})
final_region_only_estimate = renamed_regions.reset_index(drop=True)
final_region_only_estimate

In [ ]:
#selected region rows
#renamed columns to later export sql 
#reset index
#final dataframe compares offical census data and 2010 estimations for each region
region_only_census = census2010_df.iloc[0:5]
renamed_region = region_only_census.rename(columns={'State':'region', 'Census':'census', 'Estimates Base':'estimates_base'})
final_region_only_census = renamed_region.reset_index(drop=True)
final_region_only_census.T

In [ ]:
#Export to sql
final_region_only_census.to_sql(name='offical_census_regional',
                        con=engine,
                        index=False,
                        if_exists='append')
final_state_only_census2010.to_sql(name='offical_census_state',
                        con=engine,
                        index=False,
                        if_exists='append')
final_region_only_estimate.to_sql(name='yearly_estimates_regional',
                        con=engine,
                        index=False,
                        if_exists='append')
final_state_only_estimate.to_sql(name='yearly_estimates_state',
                        con=engine,
                        index=False,
                        if_exists='append')