In [ ]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np

In [ ]:
#import cleaned csv
state_estimates = pd.read_csv('../SQL/yearly_estimates_state.csv')
state_estimates

In [21]:
#filtered df to the top 5 states that have grown the most 2010-2020
top_five_df = state_estimates.loc[[44,43,12,28,2], :].reset_index(drop=True)
top_five_df

,id,state,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,45,.Utah,2775413,2814797,2854146,2898773,2938327,2983626,3044241,3103540,3155153,3203383,3249879
1,44,.Texas,25241897,25645504,26084120,26479646,26963092,27468531,27914064,28291024,28624564,28986794,29360759
2,13,.Idaho,1570819,1584272,1595910,1612053,1632248,1652495,1684036,1719745,1752074,1789060,1826913
3,29,.Nevada,2702483,2713114,2744670,2776956,2818935,2868531,2919555,2972097,3030725,3090771,3138259
4,3,.Arizona,6407342,6473416,6556344,6634690,6732873,6832810,6944767,7048088,7164228,7291843,7421401

In [ ]:
#selected arizona out of the top 5
#dropped id and state colums
#transposed df
az=top_five_df.loc[top_five_df['state']=='.Arizona']
az.drop(['id','state'],axis=1,inplace=True)
az = az.T
az

In [ ]:
#reset index and renamed columns
az=az.reset_index().rename(columns={4:'population','index':'year'})

In [ ]:
#set year as index
#converted year from object to datetime for forecasting in tableu
az.set_index('year')
az['year'] = pd.to_datetime(az['year'])

In [ ]:
#exported to csv
az.to_csv('arizona_data')

In [ ]:
#created csv with Utah year and population to use for forecasting in tableu
ut=top_five_df.loc[top_five_df['state']=='.Utah']
ut.drop(['id','state'],axis=1,inplace=True)
ut = ut.T
ut = ut.reset_index().rename(columns={0:'population','index':'year'})
ut.set_index('year')
ut['year'] = pd.to_datetime(ut['year'])
ut.to_csv('utah_data.csv')

In [23]:
#created csv with Texas year and population to use for forecasting in tableu
tx = top_five_df.loc[top_five_df['state']=='.Texas']
tx.drop(['id','state'],axis=1,inplace=True)
tx = tx.T
tx = tx.reset_index().rename(columns={1:'population','index':'year'})
tx.set_index('year')
tx['year'] = pd.to_datetime(ut['year'])
tx.to_csv('texas_data.csv')

In [24]:
#created csv with Idaho year and population to use for forecasting in tableu
ida = top_five_df.loc[top_five_df['state']=='.Idaho']
ida.drop(['id','state'],axis=1,inplace=True)
ida = ida.T
ida = ida.reset_index().rename(columns={1:'population','index':'year'})
ida.set_index('year')
ida['year'] = pd.to_datetime(ida['year'])
ida.to_csv('idaho_data.csv')

In [25]:
#created csv with Nevada year and population to use for forecasting in tableu
nv = top_five_df.loc[top_five_df['state']=='.Nevada']
nv.drop(['id','state'],axis=1,inplace=True)
nv = nv.T
nv = nv.reset_index().rename(columns={1:'population','index':'year'})
nv.set_index('year')
nv['year'] = pd.to_datetime(nv['year'])
nv.to_csv('nevada_data.csv')